<div class="container">
    <div class="d-flex justify-content-center">
        <div class="card text-center" style="width: 18rem; margin-top: 10rem;">
            <div class="card-body">
                <h5 class="card-title">Lets get you started 😃</h5>
                <p class="card-text">Subscribe now to save 10% from the usual price. Was €10.00 but now going for €9.00! Offer available for a limited time.</p>
                <form method="POST" action="/subscription">
                    <input type="hidden" name="subscription" value="offer" />
                    <button type="submit" class="btn btn-primary">Subscribe at €9/m</button>
                </form>
            </div>
        </div>
    </div>
</div>